/*--------------------------VTMap--------------------------------------*/


.game-container {
    display: flex;
    flex-direction: column;
    height: 1000px;
    width: 1000px;
    justify-content: space-between;
    align-items: center;
    background-color: rgba(30, 116, 150, 0.8);
    padding: 5%;
}

.game-buttons {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    border: black 2px solid;
    padding: 1%;
    width: 35%;

}

.controls {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    border: black 2px solid;
    padding: 1%;
    width: 35%;
}

.mapInfo{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 85%;
}

.infoPanel{
    display: flex;
    flex-direction: column;
    border: black 2px solid;
    padding: 1%;
    height: 35%;

}


/*---------------------------Guess Modal---------------------------------------*/

.guess-list {
    position: fixed;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    background-color: rgba(0, 0, 0, .8);
    z-index: 1;
}

.county-list {
    display: flex;
    flex-direction: column;
    
}

